@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgba: rgba(255, 255, 255, 1);
    --background-rgba: rgba(5, 5, 5, 1);
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  color: var(--foreground-rgba);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  background: var(--background-rgba);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .card-shadow {
  position: relative;
  border-radius: 0.5rem;
}

.card-shadow::before {
  content: '';
  position: absolute;
  bottom: -2.5rem; /* Adjust the distance of the shadow from the card */
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px; /* Adjust the height of the shadow */
  background: rgba(255, 255, 255, 0.9); /* Adjust the color and opacity of the shadow */
  filter: blur(0px); /* Adjust the blur to make the shadow softer */
  z-index: -1; /* Ensure the shadow is behind the card */
  border-radius: 100%; /* Make the shadow rounded */
  transition: all 0.3s ease-in-out;
}

.card-shadow:hover::before {
  bottom: 0px; /* Adjust the distance of the shadow on hover */
  filter: blur(15px); /* Adjust the blur on hover */
  background: rgba(66, 66, 66, 0); /* Adjust the color and opacity on hover */
}
}
